@model M07L12Homework.Models.PersonModel

@{
    ViewData["Title"] = "Create Index";
}

<h1>Create Index</h1>

<h4>Person</h4>
<hr />

<div>
    <a asp-action="Create">Go to Create</a>
</div>

<h4> Welcome to MVC world @Model.FullName</h4>
