@page
@model M07L11HomeWorkRazorDemo.Pages.AddressesModel
@{
    ViewData["Title"] = "Addresses";
}


<h1>Addresses</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Address.Street"></label>
        <input type="text" asp-for="Address.Street" placeholder="Street" />
    </div>
    <div class="form-group">
        <label asp-for="Address.City"></label>
        <input type="text" asp-for="Address.City" placeholder="City" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>